@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/700.css';

:root {
  /* colors */
  --accent-accent-200: #9cd2ff;
  --accent-accent-600: #032541;
  --accent-accent-900: #054274;
  --brand-brand-400: #00af86;
  --brand-brand-600: #23cfa7;
  --gray-gray-100: #f7f7f7;
  --gray-gray-200: #e6e6e6;
  --gray-gray-300: #c8c8c8;
  --gray-gray-400: #919191;
  --gray-gray-500: #6d6d6d;
  --primary-primary-100: #ffffff;
  --primary-primary-700: #4f4f4f;
  --primary-primary-800: #2b2b2b;
  --primary-primary-900: #090909;
  --semantic-green-100: #dcede8;
  --semantic-green-600: #00a877;
  --semantic-red-100: #f3dfe2;
  --semantic-red-600: #e41c38;
  --transperent-transperent-black-50: #00000080;
  --transperent-transperent-white-90: #ffffffe5;
  /* layout */
  --layout-grid-center-grid-l-column-count: 0.75rem;
  --layout-grid-center-grid-l-gutter-width: 1.875rem;
  --layout-grid-center-grid-l-margin-width: 3.75rem;
  --layout-grid-center-grid-l-container-min-width: 67.5rem;
  --layout-grid-center-grid-l-container-max-width: 75rem;
  --layout-grid-center-grid-m-column-count: 0.75rem;
  --layout-grid-center-grid-m-gutter-width: 1.875rem;
  --layout-grid-center-grid-m-margin-width: 3.75rem;
  --layout-grid-center-grid-m-container-min-width: 51.25rem;
  --layout-grid-center-grid-m-container-max-width: 75rem;
  --layout-grid-sidebar-grid-column-count: 0.0625rem;
  --layout-grid-sidebar-grid-gutter-width: 2.5rem;
  --layout-grid-sidebar-grid-margin-width: 2.5rem;
  --layout-grid-sidebar-grid-container-min-width: 16.25rem;
  --layout-grid-sidebar-grid-container-max-width: 17.5rem;
  --layout-grid-stretch-grid-column-count: 0.75rem;
  --layout-grid-stretch-grid-gutter-width: 1.875rem;
  --layout-grid-stretch-grid-margin-width: 2.5rem;
  --layout-grid-stretch-grid-container-min-width: 70rem;
  --layout-grid-stretch-grid-container-max-width: 118.75rem;
  --layout-grid-center-grid-l-column-width: auto;
  --layout-grid-center-grid-m-column-width: auto;
  --layout-grid-sidebar-grid-column-width: auto;
  --layout-grid-stretch-grid-grid-column-width: auto;
  --spacing-none: 0rem;
  --spacing-3xs: 0.3125rem;
  --spacing-2xs: 0.625rem;
  --spacing-xs: 0.9375rem;
  --spacing-s: 1.25rem;
  --spacing-m: 1.5625rem;
  --spacing-l: 1.875rem;
  --spacing-xl: 2.5rem;
  --spacing-2xl: 3.125rem;
  --spacing-3xl: 4.375rem;
  --spacing-4xl: 6.25rem;
  --spacing-5xl: 7.5rem;
  --spacing-6xl: 10.3125rem;
  --viewport-viewport-min-width: 75rem;
  --viewport-viewport-max-width: 624.9375rem;
  /* typography */
  --typography-button-l-letter-spacing: 0rem;
  --typography-button-l-font-size: 1rem;
  --typography-button-l-default-line-height: 1.1875rem;
  --typography-button-m-letter-spacing: 0rem;
  --typography-button-m-font-size: 0.875rem;
  --typography-button-m-line-height: 1.0625rem;
  --typography-caption-m-letter-spacing: 0rem;
  --typography-caption-m-font-size: 0.875rem;
  --typography-caption-m-line-height: 1.0625rem;
  --typography-caption-s-all-caps-letter-spacing: 0rem;
  --typography-caption-s-all-caps-font-size: 0.75rem;
  --typography-caption-s-all-caps-line-height: 0.875rem;
  --typography-code-paragraph-letter-spacing: -0.03rem;
  --typography-code-paragraph-paragraph-spacing: 0.5rem;
  --typography-code-paragraph-font-size: 1rem;
  --typography-code-paragraph-line-height: 1.625rem;
  --typography-code-tag-letter-spacing: -0.03rem;
  --typography-code-tag-font-size: 0.875rem;
  --typography-code-tag-line-height: 1rem;
  --typography-heading-h1-letter-spacing: -0.1163rem;
  --typography-heading-h1-font-size: 3.875rem;
  --typography-heading-h1-line-height: 4.625rem;
  --typography-heading-h2-letter-spacing: -0.035rem;
  --typography-heading-h2-font-size: 3.5rem;
  --typography-heading-h2-line-height: 4rem;
  --typography-heading-h3-letter-spacing: -0.03rem;
  --typography-heading-h3-font-size: 2rem;
  --typography-heading-h3-line-height: 2.375rem;
  --typography-heading-h4-letter-spacing: 0rem;
  --typography-heading-h4-font-size: 1.5rem;
  --typography-heading-h4-line-height: 1.8125rem;
  --typography-heading-h5-letter-spacing: 0rem;
  --typography-heading-h5-font-size: 1.25rem;
  --typography-heading-h5-line-height: 1.5rem;
  --typography-label-m-bold-letter-spacing: -0.02rem;
  --typography-label-m-bold-font-size: 1rem;
  --typography-label-m-bold-line-height: 1.375rem;
  --typography-label-m-regular-letter-spacing: -0.02rem;
  --typography-label-m-regular-font-size: 1rem;
  --typography-label-m-regular-line-height: 1.375rem;
  --typography-label-s-bold-letter-spacing: -0.0219rem;
  --typography-label-s-bold-font-size: 0.875rem;
  --typography-label-s-bold-line-height: 1.25rem;
  --typography-label-s-regular-letter-spacing: -0.0219rem;
  --typography-label-s-regular-font-size: 0.875rem;
  --typography-label-s-regular-line-height: 1.25rem;
  --typography-navigation-letter-spacing: -0.03rem;
  --typography-navigation-font-size: 1rem;
  --typography-navigation-line-height: 1.375rem;
  --typography-overline-m-letter-spacing: -0.0219rem;
  --typography-overline-m-font-size: 0.875rem;
  --typography-overline-m-line-height: 1.0625rem;
  --typography-paragraph-l-letter-spacing: -0.0338rem;
  --typography-paragraph-l-paragraph-spacing: 0.5rem;
  --typography-paragraph-l-font-size: 1.125rem;
  --typography-paragraph-l-line-height: 1.8125rem;
  --typography-paragraph-m-letter-spacing: -0.03rem;
  --typography-paragraph-m-paragraph-spacing: 0.5rem;
  --typography-paragraph-m-font-size: 1rem;
  --typography-paragraph-m-line-height: 1.625rem;
  --typography-tag-l-letter-spacing: -0.03rem;
  --typography-tag-l-font-size: 1rem;
  --typography-tag-l-line-height: 1rem;
  --typography-tag-m-letter-spacing: -0.0262rem; 
  --typography-tag-m-font-size: 0.875rem;
  --typography-tag-m-line-height: 0.875rem;
  --typography-tag-s-letter-spacing: -0.03rem;
  --typography-tag-s-font-size: 0.75rem;
  --typography-tag-s-line-height: 0.75rem;
  --typography-title-letter-spacing: 0rem;
  --typography-title-font-size: 1rem;
  --typography-title-line-height: 1.1875rem;
}
